@use "../global" as *;

.mouse-cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    visibility: hidden;
}

.cursor-inner {
    margin-left: -4px;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    z-index: 10000001;
    background: var(--color-primary-opacity-800);
    // mix-blend-mode: difference;
    -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out, margin 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.7s ease-out;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, margin 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.7s ease-out;
}

.cursor-inner.cursor-hover {
    margin-left: -4px;
    margin-top: -4px;
    width: 8px;
    height: 8px;
    background: var(--color-primary);
    mix-blend-mode: difference;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000000;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.cursor-outer {
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    border: var(--border-width) solid var(--color-primary-opacity-800);
    // mix-blend-mode: difference;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10000000;
    -webkit-transition: width 0.5s ease-in-out, height 0.5s ease-in-out, margin 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-out;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, margin 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-out;
}

.cursor-outer.cursor-hover {
    // opacity: 0;
}

.main-wrapper[data-magic-cursor=hide] .mouse-cursor {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1111;
}