@use "../global" as *;

.ibt-list {

  &.has-left-icon {
    list-style: none;
    padding-left: 0;
    margin-left: 0;

    li {
      margin: 0;
      display: flex;
      gap: 24px;
      font-size: var(--font-size-b2);
      line-height: var(--line-height-b2);
      font-weight: var(--f-medium);

      svg,
      i {
        flex-shrink: 0;
        margin-top: 5px;
        font-size: 10px;
      }
    }

    &.has-icon-circle {
      li {
        gap: 16px;

        i {
          margin-top: 7px;
          background: var(--gradient-3);
          color: var(--color-content-white);
          height: 15px;
          width: 15px;
          font-size: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: var(--radius-full);
        }
      }
    }
  }
}

ul{
  position: relative;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}