@use "../global/" as *;

/* ========= Forms Styles ========= */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

input,
select,
textarea {
  width: 100%;
  transition: 0.3s;
}

input {
  height: 40px;
  padding: 0 15px;
}

select {
  transition: 0.3s;
  height: 50px;
  display: inline-block;
  width: 100%;
  line-height: 135%;
  padding: 10px 20px;
  outline: none;
  color: var(--color-gray-6);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: var(--f-regular);
  padding-right: 30px;
  &:focus {
    border-color: var(--color-primary) !important;
  }
  /* -- Remove Autofill Background -- */
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: var(--color-body) !important;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
textarea {
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: var(--f-regular);
  height: 50px;
  line-height: 1.75;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0 15px;
  outline: none;
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--radius-sm);
  color: var(--color-body);

  /* -- Placeholder -- */
  &::placeholder {
    color: var(--color-body);
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: var(--color-body);
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: var(--color-body);
    opacity: 1;
  }

  &:focus {
    border-color: var(--color-primary) !important;
  }
  /* -- Remove Autofill Background -- */
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: var(--color-body) !important;
  }
}

// Custom Checkbox and radio button
input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  position: absolute;

  ~ label {
    position: relative;
    font-size: 15px;
    line-height: 25px;
    color: var(--color-body);
    font-weight: 400;
    padding-left: 25px;
    cursor: pointer;
    margin-bottom: 0;

    &::before {
      content: " ";
      position: absolute;
      top: 5px;
      left: 0;
      width: 16px;
      height: 16px;
      background-color: transparent;
      border: var(--border-width-1) solid var(--color-border);
      border-radius: 3px;
      transition: all 0.3s;
    }

    &::after {
      content: " ";
      position: absolute;
      top: 9px;
      left: 3px;
      width: 10px;
      height: 5px;
      background-color: transparent;
      border-bottom: var(--border-width) solid #fff;
      border-left: var(--border-width) solid #fff;
      border-radius: 2px;
      transform: rotate(-45deg);
      opacity: 0;
      transition: all 0.3s;
    }
  }

  &:checked {
    ~ label {
      &::before {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
      }

      &::after {
        opacity: 1;
        border-color: var(--color-content-white);
      }

      &.ibt-checkbox-color-primary {
        &::before {
          border-color: var(--color-primary);
        }

        &::after {
          border-color: var(--color-primary);
        }
      }
    }
  }
}

input[type="radio"] {
  ~ label {
    &::before {
      border-radius: 50%;
    }

    &::after {
      width: 8px;
      height: 8px;
      left: 4px;
      background: var(--color-primary);
      border-radius: 50%;
    }
  }
}

// Form Submit Styles
input[type="submit"] {
  width: auto;
  letter-spacing: 2px;
  padding: 15px 20px;
  border-radius: 6px;
  display: block;
  font-weight: 500;
  transition: 0.3s;
  border: var(--border-width) solid var(--color-primary);
  background: var(--color-primary);
  color: #ffffff;
  height: 60px;
  margin-top: 30px;

  &:hover {
    color: #ffffff;
    -webkit-box-shadow: 0 10px 15px 0 rgba(249, 0, 77, 0.1);
    box-shadow: 0 10px 15px 0 rgba(249, 0, 77, 0.1);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
