@use "../global/" as *;
/*---------------------------------------------
                  Utilities
----------------------------------------------*/
@media only screen and (max-width: 767px) {

  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    padding-right: 15px;
    padding-left: 15px;
  }
}


/*-------------------------------------------------------
                    Height and width 
--------------------------------------------------------*/
.ibt-h-auto {
  height: auto;
}

.ibt-h-full {
  height: 100%;
}

.ibt-h-fit {
  height: fit-content;
}

.ibt-w-auto {
  width: auto;
}

.ibt-w-full {
  width: 100%;
}

.ibt-w-fit {
  width: fit-content;
}

.ibt-max-w-auto {
  max-width: auto;
}

.ibt-max-w-full {
  max-width: 100%;
}

.ibt-max-w-fit {
  max-width: fit-content;
}

/*---------------------------------------------------------
                        Custom Row
----------------------------------------------------------*/
.row--0 {
  margin-left: -0px;
  margin-right: -0px;

  &>[class*="col"] {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.row--5 {
  margin-left: -5px;
  margin-right: -5px;

  &>[class*="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.row--10 {
  margin-left: -10px;
  margin-right: -10px;

  &>[class*="col"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row--15 {
  margin-left: -15px;
  margin-right: -15px;

  &>[class*="col"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.row--20 {
  margin-left: -20px;
  margin-right: -20px;

  // Responsive
  @media #{$laptop-device} {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media #{$lg-layout} {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media #{$md-layout} {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media #{$sm-layout} {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }

  &>[class*="col"],
  &>[class*="col-"] {
    padding-left: 20px;
    padding-right: 20px;

    // Responsive
    @media #{$laptop-device} {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media #{$lg-layout} {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media #{$md-layout} {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    @media #{$sm-layout} {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}

.row--25 {
  margin-left: -25px;
  margin-right: -25px;

  // Responsive
  @media #{$laptop-device} {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media #{$lg-layout} {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media #{$md-layout} {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media #{$sm-layout} {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }

  &>[class*="col"],
  &>[class*="col-"] {
    padding-left: 25px;
    padding-right: 25px;

    // Responsive
    @media #{$laptop-device} {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media #{$lg-layout} {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media #{$md-layout} {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    @media #{$sm-layout} {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}

.row--30 {
  margin-left: -30px;
  margin-right: -30px;

  // Responsive
  @media #{$laptop-device} {
    margin-left: -30px;
    margin-right: -30px;
  }

  @media #{$lg-layout} {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media #{$md-layout} {
    margin-left: -15px;
    margin-right: -15px;
  }

  @media #{$sm-layout} {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }

  &>[class*="col"],
  &>[class*="col-"] {
    padding-left: 30px;
    padding-right: 30px;

    // Responsive
    @media #{$laptop-device} {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media #{$lg-layout} {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media #{$md-layout} {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    @media #{$sm-layout} {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}

/*--------------------------------------------
        Input Placeholder
--------------------------------------------*/
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*----------------------------------------------
        text & bg-color class generate
------------------------------------------------*/
$colors: (
  'primary': var(--color-primary),
);

@each $name, $color in $colors {
  .ibt-text-#{$name} {
    color: $color !important;
  }

  .ibt-bg-#{$name} {
    background-color: $color !important;
  }
}

/*----------------------------------------------
        border color class generate
------------------------------------------------*/
$border-colors: (
  'default': var(--color-border),
);

@each $name, $color in $border-colors {
  .ibt-border-color-#{$name} {
    border-color: $color !important;
  }
}

/*----------------------------------------------
        gradient-colors
------------------------------------------------*/
$gradients: (
  '1': var(--gradient-1),
  '2': var(--gradient-2),
  '3': var(--gradient-3),
);

@each $name, $gradient in $gradients {
  .ibt-gradient-bg-#{$name} {
    background: $gradient !important;
  }
}

/*---------------------------------------------
        font weight class generate
----------------------------------------------*/
$font-weights: (
  'light': var(--f-light),
  'regular': var(--f-regular),
  'medium': var(--f-medium),
  'semibold': var(--f-semibold),
  'bold': var(--f-bold),
  'extrabold': var(--f-extrabold),
  'black': var(--f-black),
);

@each $name, $weight in $font-weights {
  .ibt-fw-#{$name} {
    font-weight: $weight !important;
  }
}

/*---------------------------------------
        gap class generate
-----------------------------------------*/
@for $i from 0 through 20 {
  .ibt-gap-#{$i * 5} {
    gap: 5px * $i !important;
  }

  .ibt-col-gap-#{$i * 5} {
    column-gap: 5px * $i !important;
  }

  .ibt-row-gap-#{$i * 5} {
    row-gap: 5px * $i !important;
  }
}

/*-----------------------------------------
        margin decrease class generate
------------------------------------------*/
@for $i from 0 through 20 {
  .mt_dec--#{$i * 5} {
    margin-top: -(5px * $i) !important;
  }
}

/*-----------------------------
    ibt Border Radius  
-------------------------------*/
@for $i from 0 through 10 {
  .ibt-radius-#{5 * $i} {
    border-radius: 5px *$i !important;
  }
}

.row.end{
  align-items: end;
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 70px;
  font-size: 13px;
  text-align: center;
  line-height: 70px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: var(--color-primary);
  color: var(--color-heading);
  cursor: pointer;
  border-radius: 15px;
  z-index: 9999999;
  i{
    transform: translateY(-8px);
    transition: all 300ms ease;
  }
}

#scrollBtn:hover {
  i{
    transform: translateY(0);
  }
}

/* Preloader overlay */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-content-white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
  img {
    width: 70px;
    height: auto;
    animation: scalePulse 1.5s infinite ease-in-out;
    filter: brightness(0);
  }
}
.preloader-wrapper{
  overflow: hidden;
}

@keyframes scalePulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}

// .video-popup
.video-popup {
  position: absolute;
  bottom: 22px;
  right: 73px;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-content-black2);
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: var(--color-content-black2);
    i{
      background-color: #adadad;
      &::after{
        border-color: transparent;
      }
    }
  }

  i {
    position: relative;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 12px;
    transition: all 0.3s ease;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid;
        clip-path: polygon(0 0, 100% 0, 100% 54%, calc(100% - 1px) 54%, 25% 100%, calc(25% - 0.5px) 100%, 0 100%, 0 0);
        -webkit-border-radius: inherit;
        border-radius: inherit;
        -webkit-transition: border-color 0.3s;
        transition: border-color 0.3s;
        border-color: #adadad;
    }
  }
}
.video-modal {
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  transition: opacity 0.3s ease;

  &.show {
    display: flex;
    opacity: 1;
  }

  .video-modal-content {
    position: relative;
    width: 1675px;
    height: 800px;
    @include xl{
      width: 100%;
      height: 100%;
      padding: 100px;
    }
    @include xs{
      padding: 50px;
      height: 600px;
    }
    @include ms{
      height: 500px;
    }
    iframe {
      width: 100%;
      height: 100%;
      border: 0;
    }

    .close-btn {
      position: absolute;
      top: -70px;
      right: -98px;
      font-size: 35px;
      color: white;
      cursor: pointer;
      z-index: 99999999;
      @include xl{
          top: 8px;
          right: 20px;
      }
    }
  }
}

// pagination
.pagination{
  justify-content: flex-end;
  margin-top: 70px;
  @include xs{
    margin-top: 56px;
  }
  .page-item{
    border: 0;
    margin: 0 0 0 12px;
    .page-link{
      padding: 0 20px;
      height: 51px;
      line-height: 50px;
      text-align: center;
      border-radius: 10px;
      background-color: unset;
      transition: all 0.3s ease;
      font-size: 14px;
      font-weight: 500;
      font-family: var(--font-secondary);
      color: var(--color-content-black2);
      border: 0;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: var(--radius-lg);
        transition: var(--transition-1);
      }
      &::before {
        content: "";
        position: absolute;
        padding: 1px; /* border ki width */
        border-radius: 12px;
        background: linear-gradient(90deg, #4875c8, #7061c8);
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }
      &:hover{
        background: linear-gradient(45deg, #7061c8, #4875c8);
        color: var(--color-content-white);
      }
    }
    .page-link.v1{
      i{
        font-size: 10px;
        margin-left: 13px;
      }
    }
  }
}

.wrapper{
  overflow: hidden;
}


// .lg-outer
.lg-outer{
  z-index: 9999999999 !important;
}
.lg-backdrop{
  z-index: 99999999999 !important;
  background: rgba(0, 0, 0, 0.7) !important;
}

// .dark
.dark{
  background-color: var(--color-surface-dark-2);
}