@use "../global/" as *;

/**
 * Typography
 */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-secondary);
  color: var(--color-body);
  font-weight: 400;
  scroll-behavior: smooth;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: thin;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
menu,
ol,
ul,
table,
hr {
  margin: 0;
  margin-bottom: 20px;
  @media #{$xl-layout} {
    margin-bottom: 15px;
  }

  @media #{$sm-layout, $md-layout, $lg-layout} {
    margin-bottom: 12px;
  }
}

body {
  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  word-break: break-word;
  font-family: var(--font-primary);
  line-height: 1.4;
  color: var(--color-heading);
}

h1,
.h1 {
  font-size: var(--h1);
  line-height: var(--line-height-h1);
  letter-spacing: var(--letter-spacing-h1);
}

h2,
.h2 {
  font-size: var(--h2);
  line-height: var(--line-height-h2);
  letter-spacing: var(--letter-spacing-normal);
}

h3,
.h3 {
  font-size: var(--h3);
  line-height: var(--line-height-h3);
  letter-spacing: var(--letter-spacing-h3);
}

h4,
.h4 {
  font-size: var(--h4);
  line-height: var(--line-height-h4);
  letter-spacing: var(--letter-spacing-h4);
}

h5,
.h5 {
  font-size: var(--h5);
  line-height: var(--line-height-h5);
  letter-spacing: var(--letter-spacing-h5);
}

h6,
.h6 {
  font-size: var(--h6);
  line-height: var(--line-height-h6);
  letter-spacing: var(--letter-spacing-h6);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  a {
    color: inherit;
  }
}

@media #{$md-layout, $lg-layout} {
  h1,
  .h1 {
    font-size: var(--h2);
  }

  h2,
  .h2 {
    font-size: var(--h3);
  }

  h3,
  .h3 {
    font-size: var(--h4);
  }

  h4,
  .h4 {
    font-size: var(--h5);
  }

  h5,
  .h5 {
    font-size: var(--h6);
  }
}

@media #{$md-layout} {
  h1,
  .h1 {
    font-size: var(--h3);
  }

  h2,
  .h2 {
    font-size: var(--h4);
  }

  h3,
  .h3 {
    font-size: var(--h5);
  }

  h4,
  .h4 {
    font-size: var(--h6);
  }

  h5,
  .h5,
  h6,
  .h6 {
    font-size: var(--font-size-b1);
  }
}

@media #{$sm-layout} {
  h1,
  .h1 {
    font-size: var(--h3);
  }

  h2,
  .h2 {
    font-size: var(--h4);
  }

  h3,
  .h3 {
    font-size: var(--h5);
  }

  h4,
  .h4 {
    font-size: var(--h6);
  }

  h5,
  .h5 {
    font-size: var(--font-size-b1);
  }

  h6,
  .h6 {
    font-size: var(--font-size-b2);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: var(--f-semibold);
}

h4,
.h4,
h5,
.h5 {
  font-weight: var(--f-semibold);
}

h6,
.h6 {
  font-weight: var(--f-semibold);
}

p {
  font-size: var(--font-size-b2);
  font-family: var(--font-secondary);
  line-height: 1.7;
  margin-bottom: 30px;
  font-weight: var(--f-regular);

  @media #{$lg-layout} {
    font-size: 16px;
  }

  @media #{$md-layout} {
    font-size: 16px;
  }

  @media #{$sm-layout} {
    font-size: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.b1 {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);

  @media #{$sm-layout} {
    font-size: var(--font-size-b2);
    line-height: 28px;
  }
}

.b2 {
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2);

  @media #{$sm-layout} {
    font-size: var(--font-size-b2);
    line-height: 28px;
  }
}

.b3 {
  font-size: var(--font-size-b3);
  line-height: var(--line-height-b3);

  @media #{$sm-layout} {
    font-size: var(--font-size-b2);
    line-height: 28px;
  }
}

.b4 {
  font-size: var(--font-size-b4);
  line-height: var(--line-height-b4);

  @media #{$sm-layout} {
    font-size: var(--font-size-b2);
    line-height: 28px;
  }
}

.b5 {
  font-size: var(--font-size-b5);
  line-height: var(--line-height-b5);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 20px;
  width: 100%;
}

table a,
table a:link,
table a:visited {
  text-decoration: none;
}

cite,
.wp-block-pullquote cite,
.wp-block-pullquote.is-style-solid-color blockquote cite,
.wp-block-quote cite {
  color: var(--heading-color);
}

/*---------------------------
      List Style 
---------------------------*/
ul,
ol {
  padding-left: 18px;
}

li {
  position: relative;
}

li::marker {
  color: var(--color-body);
}

ul {
  list-style: disc;
  margin-bottom: 30px;
  padding-left: 20px;

  li {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--color-body);

    a {
      text-decoration: none;

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  ul {
    margin-bottom: 0;
  }
}

ol {
  margin-bottom: 30px;

  li {
    color: var(--color-body);
    margin-top: 10px;
    margin-bottom: 10px;

    a {
      color: var(--heading-color);
      text-decoration: none;

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  ul {
    padding-left: 30px;
  }
}
