@use "../global" as *;

/*------------------------------
    Popup Menu Styles  
--------------------------------*/

.side-menu {
  position: fixed;
  left: -474px;
  top: 0;
  margin: 15px;
  width: 385px;
  height: 97%;
  background: #111;
  transition: 0.3s ease;
  border-radius: 20px;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  padding: 80px 68px 39px 68px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -73px;
    width: 70px;
    border-radius: 25px;
    height: 100%;
    background-image: url(../images/bg/sidepanel-close-bg-min.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 182px;
    background-image: url(../images/bg/offcanvas.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .logo {
    display: inline-block;
  }

  .title {
    color: var(--color-content-white);
    font-size: 12px;
    font-family: var(--font-secondary);
    margin-bottom: 27px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  p {
    color: var(--color-content-white);
    font-size: 18px;
    line-height: 28px;
  }
  .nmbr {
    display: inline-block;
    color: var(--color-content-white);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }
  .email {
    color: var(--color-content-white);
    text-decoration: underline;
    display: block;
    margin: 40px 0 80px;
  }

  .sidebar-menu {
    padding: 50px 0;
    margin: 109px 0;
  }

  .ibt-btn-rounded {
    color: var(--color-content-white);
  }
  .menu-content {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
  }
  .menu-content::-webkit-scrollbar {
    width: 6px;
    position: relative;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  z-index: 00;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: -1;
}
.side-menu.active {
  left: 0;
}
.close-btn {
  position: absolute;
  top: 48px;
  right: -69px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: right;
  margin-bottom: 0;
  text-transform: capitalize;
  transform: rotate(88deg);
  i {
    font-size: 14px;
    transition: all 300ms ease;
  }
  &:hover {
    color: var(--color-content-white);
    i {
      transform: rotate(180deg);
    }
  }
}

.side-menu2 {
  position: fixed;
  top: 0;
  right: -323px;
  width: 312px;
  height: 100%;
  padding: 20px 40px;
  background: var(--color-content-white);
  color: #333;
  border: 1px solid #cacaca;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 111111111;
  transition: right 0.3s ease-in-out;

  > ul {
    padding: 76px 0 35px;
    border-bottom: 1px solid #cacaca;

    > li {
      margin: 0;

      &:last-child {
        a::before {
          display: none;
        }
      }

      > a {
        position: relative;
        display: block;
        height: 29px;
        font-size: 14px;
        font-weight: 700;
        font-family: var(--font-secondary);
        line-height: 29px;
        text-transform: uppercase;
        text-decoration: none;
        color: #333;
        transition: all 300ms ease;

        &::before {
          content: "" !important;
          position: absolute;
          right: 0;
          font: 400 normal 5px/20px "fontello";
          line-height: inherit;
          display: inline-block;
          margin: 0;
          vertical-align: top;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: rotate(-90deg);
          color: inherit;
          background: transparent;
          transition: all 300ms ease;
        }

        &:hover {
          color: var(--color-primary);
        }
      }
    }

    > li.active {
      > a {
        color: var(--color-primary);

        &::before {
          transform: rotate(0deg);
        }
      }

      > ul {
        opacity: 1;
        visibility: visible;
        height: 100%;
      }
    }

    ul {
      padding: 11px 0 0 20px;
      opacity: 0;
      visibility: hidden;
      height: 0;
      transition: all 300ms ease;
      li {
        margin: 0;
        a {
          position: relative;
          display: block;
          height: 34px;
          margin-bottom: 5px;
          padding: 8px 0;
          font-size: 16px;
          font-weight: 600;
          font-family: var(--font-secondary);
          line-height: 19px;
          text-transform: capitalize;
          text-decoration: none;
          color: #333;
          transition:
            color 0.2s,
            background 0.2s;

          &:hover {
            color: var(--color-primary);
          }
        }
      }
      .active {
        .active {
          color: var(--color-primary);
        }
      }
    }
  }

  .sub-menu {
    position: relative;

    &::before {
      content: "" !important;
      position: absolute;
      right: 0;
      top: 14px;
      font: 400 normal 5px/20px "fontello";
      line-height: inherit;
      display: inline-block;
      margin: 0;
      vertical-align: top;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: rotate(-90deg);
      color: inherit;
      background: transparent;
    }

    ul {
      opacity: 0;
      visibility: hidden;
      height: 0;
      padding: 7px 0 0 42px;
    }

    &.active {
      > a {
        color: var(--color-primary);
      }

      &::before {
        color: var(--color-primary);
        transform: rotate(0deg);
      }

      ul {
        opacity: 1;
        visibility: visible;
        height: 100%;
      }
    }
  }
}
.side-menu2.active {
  right: 0;
}
.menu-btns {
  position: absolute;
  top: 27px;
  right: 39px;
  display: flex;
  align-items: center;
  z-index: 99;
  .popup-search {
    margin-right: 17px;
    display: inline-block !important;
  }
  .search-popup {
    background: unset !important;
  }
}
#mobileCloseBtn2 {
  position: relative;
  top: 0;
  right: 0;
  background-color: unset;
  border: 0;
  outline: none;
  padding: 0;
  &::before {
    content: "\e803";
    font: 400 normal 18px / 20px "fontello";
    color: var(--color-content-black2);
  }
}
.menu-contact {
  padding-top: 40px;
  span {
    color: #958c8c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: var(--font-secondary);
    display: block;
  }
  .nmbr {
    color: var(--color-content-black2);
    font-size: 15px;
    line-height: 1.875em;
    font-weight: 600;
    display: block;
    margin-bottom: 17px;
  }
  .gmail {
    font-size: 15px;
    line-height: 1.875em;
    font-weight: 600;
    text-decoration: underline;
    color: var(--color-content-black2);
    display: inline-block;
  }
}
.menu-links {
  padding-top: 36px;
  > span {
    color: #958c8c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: var(--font-secondary);
    display: block;
  }
  .social-icon {
    margin-bottom: 44px;
    li {
      margin: 0 23px 0 0;
      a {
        color: var(--color-content-black2);
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
.side-menu2::-webkit-scrollbar {
  width: 5px;
}
.side-menu2::-webkit-scrollbar-thumb {
  background: #c0c0c0;
}
.side-menu2::-webkit-scrollbar-track {
  background: transparent;
}

.hamburger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  border: 0;
  outline: none !important;
  padding: 0;
  background-color: unset;
  display: none;
  @include ml {
    display: inline-block;
  }
  span {
    display: block;
    width: 26px;
    height: 2px;
    cursor: pointer;
    text-align: center;
    background: var(--color-content-black2);
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
      width: 10px;
      margin-left: auto;
    }
  }
}
.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1111;
  display: none;
}
.overlay2.active {
  display: block;
}

.hamburger3 {
  position: relative;
  border: 0;
  outline: none !important;
  padding: 0;
  background-color: unset;
  cursor: pointer;
  padding: 3px;
  &:hover {
    span {
      &:last-child {
        width: 10px;
      }
    }
  }
  span {
    display: block;
    width: 26px;
    height: 2px;
    cursor: pointer;
    text-align: center;
    background: var(--color-content-white);
    margin-bottom: 4px;
    transition: all 300ms ease;
    &:last-child {
      margin-bottom: 0;
      margin-left: auto;
    }
  }
}
.overlay3 {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 15px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  padding: 0 71px 0 0;
  -webkit-transition:
    opacity linear 0.3s,
    visibility linear 0.3s;
  transition:
    opacity linear 0.3s,
    visibility linear 0.3s;
  z-index: 998;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.side-menu3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 1812px;
  height: 100%;
  background: var(--color-surface-dark-2);
  color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 999999999;
  border-radius: 25px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity linear 0.3s,
    visibility linear 0.3s;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -70px;
    width: 70px;
    border-radius: 25px;
    height: 100%;
    background-image: url(../images/bg/sidepanel-close-bg-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity linear 0.3s,
      visibility linear 0.3s;
    z-index: 9999999999999999;
  }
  &.active {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
  .close-btn {
    position: absolute;
    top: 48px;
    right: -69px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: right;
    margin-bottom: 0;
    text-transform: capitalize;
    transform: rotate(88deg);
    z-index: 9999999999999999;
    i {
      font-size: 14px;
      transition: all 300ms ease;
    }
    &:hover {
      color: var(--color-content-white);
      i {
        transform: rotate(180deg);
      }
    }
  }

  .menu-inner {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;

    .menu-left {
      width: 904px;
      padding: 250px 0px;
      > ul {
        width: 359px;
        > li {
          margin: 0;
          padding-bottom: 25px;
          opacity: 0;
          transform: translateY(60px);
          transition:
            opacity 0.7s cubic-bezier(0.22, 0.61, 0.36, 1),
            transform 0.9s cubic-bezier(0.22, 0.61, 0.36, 1);

          &:last-child {
            padding-bottom: 0;
            a::before {
              display: none;
            }
          }
          > a {
            position: relative;
            display: block;
            font-size: 40px;
            font-weight: 600;
            line-height: 50px;
            font-family: var(--font-secondary);
            text-transform: capitalize;
            text-decoration: none;
            color: var(--color-content-white);
            transition: all 300ms ease;
            padding-left: 25px;
            &::before {
              content: "\f107";
              position: absolute;
              right: 0;
              top: 4px;
              display: inline-block;
              font-size: 12px;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              color: var(--color-content-white);
              transition: all 0.3s ease;
            }
            &::after {
              content: "\e835";
              position: absolute;
              bottom: 9px;
              left: 0;
              font: 400 normal 6px / 1em "fontello";
              margin-right: 18px;
              transition: opacity 0.3s;
              color: var(--color-primary);
              display: inline-block;
              opacity: 0;
              visibility: hidden;
            }
            &:hover,
            &.active {
              color: var(--color-primary);
              &::after {
                opacity: 1;
                visibility: visible;
              }
            }
          }
        }
        .active {
          > a {
            color: var(--color-primary);

            &::after {
              opacity: 1;
              visibility: visible;
            }
          }
        }
        .active {
          opacity: 1;
          visibility: visible;
          height: 100%;
        }
        ul {
          opacity: 0;
          visibility: hidden;
          height: 0;
          transition: all 300ms ease;
          margin-left: 64px;
          li {
            margin: 0;

            a {
              position: relative;
              display: block;
              height: 34px;
              margin-bottom: 5px;
              padding: 8px 0;
              font-size: 16px;
              font-weight: 600;
              font-family: var(--font-secondary);
              line-height: 19px;
              text-transform: capitalize;
              text-decoration: none;
              color: var(--color-content-white);
              transition:
                color 0.2s,
                background 0.2s;

              &:hover,
              &.active {
                color: var(--color-primary);
              }
            }
          }
          .sub-menu {
            &::before {
              content: "\f107";
              position: absolute;
              right: 0;
              top: 4px;
              display: inline-block;
              font-size: 12px;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              color: var(--color-content-white);
              background-color: unset;
            }
            ul {
              margin-left: 24px;
              transition: all 300ms ease;
            }
          }
          .sub-menu.open {
            &::before {
              content: "\f106";
              color: var(--color-primary);
            }
            a {
              &::before {
                display: none;
              }
            }
          }
        }
        .inner-menu.active {
          padding: 15px 0 0;
          max-height: 250px;
          overflow-y: auto;
          &::-webkit-scrollbar {
            width: 8px; /* Set the width (or height for horizontal) */
            background: transparent; /* Optional: ensures no default background peeks through */
          }

          /* 2. Style the Track (the background area) */
          &::-webkit-scrollbar-track {
            background-color: #1a1a1a; /* Dark background color, close to the menu background */
            border-radius: 10px;
          }

          /* 3. Style the Thumb (the draggable handle) */
          &::-webkit-scrollbar-thumb {
            background-color: #555555; /* A dark gray for contrast */
            border-radius: 10px;
          }

          /* 4. Style the Thumb on Hover */
          &::-webkit-scrollbar-thumb:hover {
            background-color: #777777; /* Slightly lighter on hover for UX */
          }
        }
      }
    }

    /* Right Contact Info */
    .menu-right {
      width: 300px;
      padding: 250px 0px;
      .sub-title {
        color: var(--color-content-white);
        font-size: 12px;
        font-family: var(--font-secondary);
        margin-bottom: 27px;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: inline-block;
      }
      p {
        color: var(--color-content-white);
        font-size: 18px;
        line-height: 28px;
        max-width: 191px;
      }
      .nmbr {
        display: inline-block;
        color: var(--color-content-white);
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
      }
      .email {
        color: var(--color-content-white);
        text-decoration: underline;
        display: block;
        margin: 40px 0;
      }
      .ibt-btn {
        color: var(--color-content-white);
      }
      .social-icon {
        margin-bottom: 75px;
      }
    }
  }
  .shape {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &.active {
    .menu-left > ul {
      > li {
        opacity: 1;
        transform: translateY(0);
      }
      > li:nth-child(1) {
        transition-delay: 0.15s;
      }

      > li:nth-child(2) {
        transition-delay: 0.35s;
      }

      > li:nth-child(3) {
        transition-delay: 0.45s;
      }

      > li:nth-child(4) {
        transition-delay: 0.55s;
      }

      > li:nth-child(5) {
        transition-delay: 0.65s;
      }

      > li:nth-child(6) {
        transition-delay: 0.75s;
      }
      > li:nth-child(7) {
        transition-delay: 0.85s;
      }
    }
  }
}

.alter-menu-decorate {
  position: absolute;
  bottom: 0;
  height: 200px;
  overflow: hidden;
  border-radius: 0 0 25px 0;
  left: 0;
  width: 100%;

  &::before {
    content: "";
    width: 120%;
    height: 100%;
    position: absolute;
    top: 75%;
    left: 0;
    filter: blur(50px);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
    background-color: var(--color-primary);
  }
}
