@forward 'hero';
@forward 'woocommerce';
@forward 'services';
@forward 'feature';
@forward 'about';
@forward 'testimonial';
@forward 'blog';
@forward 'team';
@forward 'brand';
@forward 'neural';
@forward 'page-banner';
@forward 'side-bar';
@forward 'project';
@forward 'faq';
@forward 'fun-fact';
@forward 'choose-us';
@forward 'contact-us';
@forward 'pricing';