.ibt-link-hover {
  a {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: currentColor;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.3s;
    }

    &:hover {
      &::after {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }
  }
}

.ibt-separator {
  display: block;
  height: 1px;
  width: 100%;
  background: black;
}

.ibt-separator-vertical {
  display: inline-block;
  min-height: 1rem;
  height: 100%;
  width: 1px;
  background: black;
}

// gradient text color
.ibt-gradient-text {
  background: linear-gradient(96deg, var(--color-secondary) -11.57%, var(--color-primary-opacity-900) 101.08%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// text-transform
.ibt-text-uppercase {
  text-transform: uppercase;
}

.ibt-text-lowercase {
  text-transform: lowercase;
}

.ibt-text-capitalize {
  text-transform: capitalize;
}

// blockquote
.ibt-blockquote {
  font-size: var(--font-size-b1);
  font-weight: var(--f-semibold);
  font-style: normal;
  position: relative;
  display: flex;
  gap: 60px;

  &::before {
    content: "\e82f";
    font-family: "fontello";
    font-size: var(--h3);
    background: var(--gradient-3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
