/*-- Variables --*/
:root {
  // Solid colors
  --color-primary: #45d0bd;
  --color-secondary: #ef6464;
  --color-secondary-alt: #f57e7e;

  // Content
  --color-content-white: #ffffff;
  --color-content-black: #000000;
  --color-content-black2: #333333;
  --color-heading: #111111;

  // surface
  --color-surface-white: #ffffff;
  --color-surface-black: #000000;
  --color-surface-dark: #111111;
  --color-surface-dark-2: #1f1f1f;
  --color-surface-light: #f0f2f4;
  --color-surface-light-1: #ecf0f4;
  --color-surface-light-3: #f5f5f5;

  // Then
  --color-body: #333333;

  // gradient colors
  --gradient-1: linear-gradient(159deg, #a2f5ff 2.13%, #ea84c2 95.42%);
  --gradient-3: linear-gradient(113deg, #45d0bd 2.7%, #44b6e9 98.55%);

  // gradient button colors
  --gradient-btn-1: linear-gradient(102deg, #8258c8 0.77%, #6766c8 32.11%, #2c84c8 100.27%);

  // border width
  --border-width: 2px;
  --border-width-1: 1px;

  // border color
  --color-border: #d9d9d9;

  // Border-radius
  --radius-full: 100%;
  --radius-5xl: 50px;
  --radius-4xl: 40px;
  --radius-3xl: 30px;
  --radius-xxl: 25px;
  --radius-xl: 20px;
  --radius-lg: 15px;
  --radius-md: 10px;
  --radius-sm: 5px;

  // Font weight
  --f-light: 300;
  --f-regular: 400;
  --f-medium: 500;
  --f-semibold: 600;
  --f-bold: 700;
  --f-extrabold: 800;
  --f-black: 900;

  // Transition
  --transition: 0.2s;
  --transition-1: all 0.3s;
  --transition-2: 256ms ease-in-out;
  --transition-3:
    transform 0.85s cubic-bezier(0.23, 1, 0.32, 1), background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  --transition-4: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition-5: all 0.5s ease-in-out;
  --transition-6: all 0.3s linear;

  // Font Family
  --font-primary: "Sora", Arial, Helvetica, sans-serif;
  --font-secondary: "Manrope", Arial, Helvetica, sans-serif;
  --font-tertiary: "Manrope Alt", Sans-serif;

  // Then
  --font-size-b1: 20px;
  --font-size-b2: 16px;
  --font-size-b3: 14px;

  // Letter spacing
  --letter-spacing-b1: normal;
  --letter-spacing-b2: normal;
  --letter-spacing-b3: normal;

  // Heading Font
  --h1: 80px;
  --h2: 60px;
  --h3: 40px;
  --h4: 25px;
  --h5: 20px;
  --h6: 18px;

  // Line Height
  --line-height-b1: 1.75; //35px
  --line-height-b2: 1.875; //30px
  --line-height-b3: 1.714; //24px

  --line-height-h1: 1.175; //94px
  --line-height-h2: 1.17; //70px
  --line-height-h3: 1.175; //47px
  --line-height-h4: 1.16; //29px
  --line-height-h5: 1.15; //23px
  --line-height-h6: 1.17; //21px

  // Letter spacing
  --letter-spacing-h1: -4px;
  --letter-spacing-h2: -3px;
  --letter-spacing-h3: -2px;
  --letter-spacing-h4: -1.25px;
  --letter-spacing-h5: normal;
  --letter-spacing-h6: normal;
  --letter-spacing-normal: normal;

  // Text shadow
  --text-shadow-1: 1px 2px 1px rgba(12, 4, 66, 0.3);
  --text-shadow-2: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

// Layouts Variation
$smlg-device: "only screen and (max-width: 1199px)";
$lgtolp-device: "only screen and (min-width: 1200px)";
$extra-device: "only screen and (min-width: 1600px) and (max-width: 1919px)";
$laptop-device: "only screen and (min-width: 1200px) and (max-width: 1599px)";
$xl-layout: "only screen and (min-width: 1200px) and (max-width: 1399px)";
$lg-layout: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md-layout: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm-layout: "only screen and (max-width: 767px)";
$large-mobile: "only screen and (max-width: 575px)";
$small-mobile: "only screen and (max-width: 479px)";
